{{define "title"}}Orcamento | Sign Wave Solutions{{end}}
{{define "scripts"}}
<link href="/static/output.css" rel="stylesheet">
{{end}}
{{define "body"}}
<div class="p-6">
    <a href="/">
        <span class="sr-only">Sign Wave Solutions</span>
        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
            alt="Sign Wave Solutions">
    </a>
</div>
<form class="mx-12">
    <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Orçamento</h2>
            <div>
                <label for="duration" class="label-primary">Duração</label>
                <div class="mt-2">
                    <input type="text" name="duration" id="duration" class="text-input-primary">
                </div>
            </div>

            <div>
                <label for="about" class="label-primary">Sobre</label>
                <div class="mt-2">
                    <textarea id="about" name="about" rows="3" class="text-input-primary"></textarea>
                </div>
                <p class="mt-3 text-sm leading-6 text-gray-600">Escreva alguns detalhes sobre o serviço a ser prestado.
                </p>
            </div>

        </div>
    </div>

    <div class="border-b border-gray-900/10 pb-12">
        <div class="mt-10">
            <div>
                <label for="name-entity" class="label-primary">Nome da Pessoa /
                    Entidade</label>
                <div class="mt-2">
                    <input type="text" name="name-entity" id="name-entity" autocomplete="given-name"
                        class="text-input-primary">
                </div>
            </div>

            <div>
                <label for="email" class="label-primary">Endereço Email</label>
                <div class="mt-2">
                    <input id="email" name="email" type="email" autocomplete="email" class="text-input-primary">
                </div>
            </div>

            <div>
                <label for="street-address" class="label-primary">Morada</label>
                <div class="mt-2">
                    <input type="text" name="street-address" id="street-address" autocomplete="street-address"
                        class="text-input-primary">
                </div>
            </div>

            <div>
                <label for="postal-code" class="label-primary">Código Postal</label>
                <div class="mt-2">
                    <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code"
                        class="text-input-primary">
                </div>
            </div>
        </div>
    </div>


    <div class="mt-6 flex items-center justify-start gap-x-6">
        <button type="submit" hx-post="/order" hx-target="#error" hx-swap="innerHTML"
            class="btn-primary">Enviar</button>
    </div>
    <div id="error"></div>
</form>
{{end}}